
/*
font-family: 'Bree Serif', serif;
font-family: 'Slabo 27px', serif;
*/
* {
  font-family: 'Slabo 27px', serif;
}

.container {
  max-width: 1000px !important;
}
.btn {
  margin-top: 30px !important;
  margin-bottom: 40px;
}
form {
  margin-top: 40px;
}
form a {
  margin-left: 10px;
}
h1, h3 {
  font-family: 'Bree Serif', serif !important;
  padding: 10px 0 10px 0;
}
li {
  color: #262626 !important;
  margin: 7px 0 7px 0;
}
li:hover {
  background-color: gainsboro;
  cursor: pointer;
}
